<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>23A8D041-A077-4398-8B96-905DE0D68B6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2F90DD7-0A1C-440B-B694-BBCAD9D995CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5A9CA8E-025A-4370-9980-CDDBE4E78866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23A8D041-A077-4398-8B96-905DE0D68B6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>js2c</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>js2c</string>
				<key>text</key>
				<string>JS2C</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D5A9CA8E-025A-4370-9980-CDDBE4E78866</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B2F90DD7-0A1C-440B-B694-BBCAD9D995CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>. ~/.zshrc &amp;&amp; node ./index.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23A8D041-A077-4398-8B96-905DE0D68B6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>23A8D041-A077-4398-8B96-905DE0D68B6F</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>B2F90DD7-0A1C-440B-B694-BBCAD9D995CD</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>D5A9CA8E-025A-4370-9980-CDDBE4E78866</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
